<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neko.dubbo.queue.dao.mapper.NotifyRecordLogMapper" >
  <resultMap id="BaseResultMap" type="com.neko.dubbo.queue.dao.po.NotifyRecordLog" >
    <id column="notify_record_log_id" property="id" jdbcType="INTEGER" />
    <result column="notify_record_log_notify_record_id" property="notifyRecordId" jdbcType="INTEGER" />
    <result column="notify_record_log_create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="notify_record_log_result" property="result" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    notify_record_log.id as notify_record_log_id, notify_record_log.notify_record_id as notify_record_log_notify_record_id, 
    notify_record_log.create_time as notify_record_log_create_time, notify_record_log.result as notify_record_log_result
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.neko.dubbo.queue.dao.po.NotifyRecordLogExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from notify_record_log notify_record_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from notify_record_log notify_record_log
    where notify_record_log.id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from notify_record_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.neko.dubbo.queue.dao.po.NotifyRecordLogExample" >
    delete from notify_record_log notify_record_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.neko.dubbo.queue.dao.po.NotifyRecordLog" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into notify_record_log (notify_record_id, create_time, result
      )
    values (#{notifyRecordId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{result,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.neko.dubbo.queue.dao.po.NotifyRecordLog" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into notify_record_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="notifyRecordId != null" >
        notify_record_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="result != null" >
        result,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="notifyRecordId != null" >
        #{notifyRecordId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="result != null" >
        #{result,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.neko.dubbo.queue.dao.po.NotifyRecordLogExample" resultType="java.lang.Integer" >
    select count(*) from notify_record_log notify_record_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update notify_record_log notify_record_log
    <set >
      <if test="record.id != null" >
        notify_record_log.id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.notifyRecordId != null" >
        notify_record_log.notify_record_id = #{record.notifyRecordId,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        notify_record_log.create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.result != null" >
        notify_record_log.result = #{record.result,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update notify_record_log notify_record_log
    set notify_record_log.id = #{record.id,jdbcType=INTEGER},
      notify_record_log.notify_record_id = #{record.notifyRecordId,jdbcType=INTEGER},
      notify_record_log.create_time = #{record.createTime,jdbcType=TIMESTAMP},
      notify_record_log.result = #{record.result,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.neko.dubbo.queue.dao.po.NotifyRecordLog" >
    update notify_record_log
    <set >
      <if test="notifyRecordId != null" >
        notify_record_id = #{notifyRecordId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="result != null" >
        result = #{result,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.neko.dubbo.queue.dao.po.NotifyRecordLog" >
    update notify_record_log
    set notify_record_id = #{notifyRecordId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      result = #{result,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>